.post-wrap
  position relative
  width 100%
  max-width 780px
  margin 0 auto
  padding-top 2rem

  .archive-item
    margin-left 2rem
    display flex
    justify-content space-between
    align-items baseline

.archive-item-link
    display flex
    text-decoration none
    white-space normal
    word-break break-word
    flex-shrink 1
    line-height 1.6
    &:hover
      color $light-global-link-hover-color
      background-color transparent

    .dark-theme &
      color $dark-global-link-color
      text-decoration none
      transition color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease

      &:hover
        color $dark-global-link-hover-color
        text-decoration none
        transition color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease

  .archive-item-date
    flex-shrink 0
    color $light-font-secondary-color
    margin-left 1rem

    .dark-theme &
      color $dark-font-secondary-color
